<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles404.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='learnpediafaviconp.png') }}">

<title>PAGE NOT FOUND</title>

<body>

    <div class="wholepage">
        <div>
            <h1>The page you were looking for doesn't seem to be here</h1>
                <div class="buttoncenter">
                    <h2>Here is a button to return to home</h2>
                        <div>
                            <a href="home">
                                <button style="font-weight: 600;" class="submitbutton" type="submit" value="Submit">Submit</button>
                            </a>
                        </div>
                </div>
        </div>
    </div>
</body>
