.head1 {
    font-family: Arial;
    color: white;
    font-size: 60px; 
    margin: 20px;
    font-weight: 400;

}

.allpage {
    justify-content: space-evenly;
    vertical-align: middle;
    text-align: left;
}

.boxdesign {
    border-radius: 12pt;
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial;
    height: auto;
    width: auto;
    background-color: #3d3d3d;
    flex-wrap: wrap;
}

.boxtitle {
    font-size: 30px;
    font-weight: 400;
}

.boxtext {
    font-size: 18px;
    font-weight: 200;
    padding-top: 15px;
}

.editdeletebutton {
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    
}


.editbutton {
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(0, 122, 255);
    border-color: rgb(0, 122, 255);
    cursor: pointer;
    color: white;
    padding: 20px;
    height: auto;
    width: 120px;

}

.deletebutton {
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(255, 59, 48);
    border-color: rgb(255, 59, 48);
    cursor: pointer;
    color: white;
    padding: 20px;
    height: auto;
    width: 120px;
}

.keywordboxdesign {
    border-radius: 12pt;
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: Arial;
    height: auto;
    width: 140px;
    background-color: #3d3d3d;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

